<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>popcorn_movie_base</key>
	<string>https://movies-v2.api-fetch.sh</string>
	<key>popcorn_show_base</key>
	<string>https://tv-v2.api.sh</string>
	<key>popcorn_movie_base_beta</key>
	<string>http://popcorn-ru.tk</string>
</dict>
</plist>
